.App{
  background-image:   linear-gradient(to bottom, rgba(10, 10, 10, 0.5), rgba(123, 122, 141, 0.5));
  background-color: #282c34;
  text-align: justify;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  text-align: justify;
  display: flex;
  position: justify;
  width: 75%;
  margin: auto;
  align-items: center;
}

.image {
  display: flex;
  position: relative;
  width: 75%;
  margin: auto;
  align-items: center;
}

.caption-title{
  text-align: center;
  position: relative;
  width: 75%;
  margin: auto;
}

.description {
  display: flex;
  position: relative;
  width: 75%;
  margin: auto;
  align-items: center;
}

.description-bold{
  display: flex;
  position: relative;
  width: 75%;
  margin: auto;
  align-items: center;
  font-weight: bold;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
